body {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 32px;
    height: 30px;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
}

#logo {
    font-size: large;
    font-weight: 700;
    color: black;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: 700;
}

/* Summarize link with user icon to the right */
.about-us-link {
    display: flex;
    align-items: center;
    gap: 25px;
}

.user-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 50%;
    width: 28px;
    height: 28px;
}

.user-icon svg {
    width: 16px;
    height: 16px;
    fill: white;
}

.askquestions {
    margin-bottom: 100px;
    padding: 40px 100px;
}

.askquestions h1 {
    margin-bottom: 8px;
}

.askquestions p {
    margin-bottom: 24px;
}

.input-question {
    width: 900px;
    max-width: 700px;
    padding: 15px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color: black;
    background-color: white;
    margin-top: 10px;
    display: block;
}

#btn {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 99px;
    color: black;
    background-color: cornflowerblue;
    border: none;
    cursor: pointer;
    margin-top: 50px;
}

.answer-container {
    padding: 0px 100px 0px;
    
}

.answer {
    width: 100%;
    max-width: 500px;
    padding: 10px 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    color: black;
    background-color: white;
    display: block;
    margin-top:10px;
}


#summarize_btn
{
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 99px;
    color: black;
    background-color: cornflowerblue;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 100px;
}

.star-rating-container {
  text-align: center;
  margin: 50px;
  margin-left:500px;
  
}

.stars {
  font-size: 32px;
  cursor: pointer;
}

.star {
  color: gray;
  transition: color 0.3s;
  padding: 0 5px;
}

.star.filled {
  color: rgb(231, 211, 95);
}